.footer {
    text-align: center;
    font-size: 12px;
}

.iconfont {
    padding-right: 8px;
}

.layui-icon {
    padding: 0 10px;
}

iframe {
    width: 100%;
    height: 100%;
}

/* 滚动条超出部分隐藏 */
.layui-body {
    overflow: hidden;
}

/* 强制去除a链接的动画效果 */
/* a {
    transition: none !important;
} */

/* 渲染文字头像和图片头像 */
.layui-nav-img {
    width: 40px;
    height: 40px;
}

.userinfo {

    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 12px;
    user-select: none;

}

.layui-side-scroll .userinfo {
    border-bottom: 1px solid #000;
}


.text-avatar {
    display: inline-block;
    position: relative;
    top: 3px;
    width: 40px;
    height: 40px;
    background-color: #009688;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
    font-size: 20px;
    color: #fff;
}